In [1]:
import pandas as pd

In [2]:
RAW_PATH = "../data/raw/loan.csv"
PROCESSED_PATH = "../data/processed/credit_data_base.csv"

In [3]:
use_cols = [
    "loan_status",
    "issue_d",
    "loan_amnt",
    "term",
    "int_rate",
    "installment",
    "grade",
    "sub_grade",
    "emp_length",
    "home_ownership",
    "annual_inc",
    "verification_status",
    "purpose",
    "dti",
    "delinq_2yrs",
    "inq_last_6mths",
    "open_acc",
    "pub_rec",
    "revol_bal",
    "revol_util",
    "total_acc"
]

In [4]:
chunks = []
chunk_size = 50000

for chunk in pd.read_csv(RAW_PATH, usecols=use_cols, chunksize=chunk_size, low_memory=False):
    chunks.append(chunk)

df = pd.concat(chunks, ignore_index=True)

In [5]:
df.shape

(2260701, 21)

In [6]:
df.columns

Index(['loan_amnt', 'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
       'issue_d', 'loan_status', 'purpose', 'dti', 'delinq_2yrs',
       'inq_last_6mths', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util',
       'total_acc'],
      dtype='object')

In [7]:
df["loan_status"].value_counts()

loan_status
Fully Paid                                             1076751
Current                                                 878317
Charged Off                                             268559
Late (31-120 days)                                       21467
In Grace Period                                           8436
Late (16-30 days)                                         4349
Does not meet the credit policy. Status:Fully Paid        1988
Does not meet the credit policy. Status:Charged Off        761
Default                                                     40
Name: count, dtype: int64

In [9]:
df.to_csv(PROCESSED_PATH, index=False)

In [10]:
pd.read_csv(PROCESSED_PATH, nrows=5)

,loan_amnt,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,annual_inc,verification_status,...,loan_status,purpose,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc
0,3600.0,36 months,13.99,123.03,C,C4,10+ years,MORTGAGE,55000.0,Not Verified,...,Fully Paid,debt_consolidation,5.91,0.0,1.0,7.0,0.0,2765.0,29.7,13.0
1,24700.0,36 months,11.99,820.28,C,C1,10+ years,MORTGAGE,65000.0,Not Verified,...,Fully Paid,small_business,16.06,1.0,4.0,22.0,0.0,21470.0,19.2,38.0
2,20000.0,60 months,10.78,432.66,B,B4,10+ years,MORTGAGE,63000.0,Not Verified,...,Fully Paid,home_improvement,10.78,0.0,0.0,6.0,0.0,7869.0,56.2,18.0
3,35000.0,60 months,14.85,829.90,C,C5,10+ years,MORTGAGE,110000.0,Source Verified,...,Current,debt_consolidation,17.06,0.0,0.0,13.0,0.0,7802.0,11.6,17.0
4,10400.0,60 months,22.45,289.91,F,F1,3 years,MORTGAGE,104433.0,Source Verified,...,Fully Paid,major_purchase,25.37,1.0,3.0,12.0,0.0,21929.0,64.5,35.0

In [11]:
import pandas as pd

DATA_PATH = "../data/processed/credit_data_base.csv"
df = pd.read_csv(DATA_PATH)

In [12]:
df["loan_status"].value_counts()

loan_status
Fully Paid                                             1076751
Current                                                 878317
Charged Off                                             268559
Late (31-120 days)                                       21467
In Grace Period                                           8436
Late (16-30 days)                                         4349
Does not meet the credit policy. Status:Fully Paid        1988
Does not meet the credit policy. Status:Charged Off        761
Default                                                     40
Name: count, dtype: int64

In [13]:
valid_status = [
    "Fully Paid",
    "Charged Off",
    "Default"
]

df = df[df["loan_status"].isin(valid_status)]

In [14]:
df["default"] = df["loan_status"].apply(
    lambda x: 1 if x in ["Charged Off", "Default"] else 0
)

In [15]:
df.drop(columns=["loan_status"], inplace=True)

In [16]:
df["default"].value_counts(normalize=True)

default
0    0.80035
1    0.19965
Name: proportion, dtype: float64

In [17]:
df.shape

(1345350, 21)

In [18]:
TARGET_PATH = "../data/processed/credit_data_with_target.csv"
df.to_csv(TARGET_PATH, index=False)

In [19]:
pd.read_csv(TARGET_PATH, nrows=5)

,loan_amnt,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,annual_inc,verification_status,...,purpose,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,default
0,3600.0,36 months,13.99,123.03,C,C4,10+ years,MORTGAGE,55000.0,Not Verified,...,debt_consolidation,5.91,0.0,1.0,7.0,0.0,2765.0,29.7,13.0,0
1,24700.0,36 months,11.99,820.28,C,C1,10+ years,MORTGAGE,65000.0,Not Verified,...,small_business,16.06,1.0,4.0,22.0,0.0,21470.0,19.2,38.0,0
2,20000.0,60 months,10.78,432.66,B,B4,10+ years,MORTGAGE,63000.0,Not Verified,...,home_improvement,10.78,0.0,0.0,6.0,0.0,7869.0,56.2,18.0,0
3,10400.0,60 months,22.45,289.91,F,F1,3 years,MORTGAGE,104433.0,Source Verified,...,major_purchase,25.37,1.0,3.0,12.0,0.0,21929.0,64.5,35.0,0
4,11950.0,36 months,13.44,405.18,C,C3,4 years,RENT,34000.0,Source Verified,...,debt_consolidation,10.20,0.0,0.0,5.0,0.0,8822.0,68.4,6.0,0

In [20]:
import pandas as pd

DATA_PATH = "../data/processed/credit_data_with_target.csv"
df = pd.read_csv(DATA_PATH)

In [21]:
df["issue_d"] = pd.to_datetime(df["issue_d"], format="%b-%Y")

In [22]:
df = df.sort_values("issue_d").reset_index(drop=True)

In [23]:
cutoff_date = "2016-01-01"

In [24]:
train_df = df[df["issue_d"] < cutoff_date]
test_df  = df[df["issue_d"] >= cutoff_date]

In [25]:
train_df = train_df.drop(columns=["issue_d"])
test_df = test_df.drop(columns=["issue_d"])

In [26]:
train_df.shape, test_df.shape

((826606, 20), (518744, 20))

In [27]:
train_df["default"].value_counts(normalize=True)

default
0    0.815748
1    0.184252
Name: proportion, dtype: float64

In [28]:
test_df["default"].value_counts(normalize=True)

default
0    0.775814
1    0.224186
Name: proportion, dtype: float64

In [29]:
train_df.to_csv("../data/processed/train.csv", index=False)
test_df.to_csv("../data/processed/test.csv", index=False)